@model Ogretmen

@{
    ViewData["Title"] = "Öğretmen Düzenle";
}

<div class="row">
    <div class="col-8">
        <h2 class="mb-3">Öğretmen Güncelle</h2>
        <hr>

        <form asp-controller="Ogretmen" asp-action="Edit" method="post">
            <input type="hidden" asp-for="OgretmenId">
            <div class="mb-3">
                <label asp-for="Ad" class="form-label">Öğretmen Adı</label>
                <input asp-for="Ad" class="form-control">
                    
                <label asp-for="Soyad" class="form-label mt-3">Öğrenci Soyadı</label>
                <input asp-for="Soyad" class="form-control">
                    
                <label asp-for="Eposta" class="form-label mt-3">Eposta</label>
                <input asp-for="Eposta" class="form-control">
                    
                <label asp-for="Telefon" class="form-label mt-3">Telefon</label>
                <input asp-for="Telefon" class="form-control">

                <label asp-for="BaslamaTarihi" class="form-label mt-3">Başlama Tarihi</label>
                <input asp-for="BaslamaTarihi" class="form-control">
            </div>
                <button type="submit" class="btn mt-2" style="background-color: #CAE8BD;">Güncelle</button>
        </form>
    </div>
    <div class="col-4">
        <h2>Ders Verdiği Kurslar</h2>
        <hr>
        <ul>
            @foreach(var item in @Model.Kurslar)
            {
                <li>@item.Baslik</li>
            }
        </ul>
    </div>
</div>